<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SampleDB" connectionString="Server=SRV-RPL1\RPL1;Database=RatioPlus;User Id=MeissnerTools_Reader; Password=HKc2q#r8Wo; Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>